main {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
    background-color: lightgray;
    padding: 32px;
    border-radius: 24px;
}
  
app-square {
    height: 200px;
}
  
button {
    font-size: 20px;
    padding: 20px;
    border-radius: 24px;
    border: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: 0.5s;
  
    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
}
  
.center-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  